html {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 100px 50px;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
}

input {
    text-align: center;
    padding: 1rem 1.5rem;
    width: 10rem;
    border-radius: 8px;
}
button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    color: #f4f4f4;
    font-weight: bold;
    cursor: pointer;
    background-color: orange;
}

.dice-images img {
    width: 40px;
    margin: 10px;
}